{% extends 'news/base.html' %}

{% block content %}
    <div style="width: 50%; margin-left: 400px; text-align: center; display: inline-block">
    <h1> Авторизация </h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        <p>
            <button type="submit" style="text-align: center; display: inline-block">Войти</button>
        </p>
        <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
    </form>
    </div>
{% endblock %}


{#{% block content %}#}
{#    <div style="width: 50%; margin-left: 400px; text-align: center; display: inline-block">#}
{#    <h1> Авторизация </h1>#}
{##}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <p>#}
{#            <button type="submit" style="text-align: center; display: inline-block">Войти</button>#}
{#        </p>#}
{#    </form>#}
{#    </div>#}
{#{% endblock %}#}